<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Lof_CustomerOrderRefund::lof_customer_refund_order" title="lof_customer_refund_order" sortOrder="10">
					<resource id="Lof_CustomerOrderRefund::lof_customer_refund_order_save" title="Save lof_customer_refund_order" sortOrder="10"/>
					<resource id="Lof_CustomerOrderRefund::lof_customer_refund_order_delete" title="Delete lof_customer_refund_order" sortOrder="20"/>
					<resource id="Lof_CustomerOrderRefund::lof_customer_refund_order_update" title="Update lof_customer_refund_order" sortOrder="30"/>
					<resource id="Lof_CustomerOrderRefund::lof_customer_refund_order_view" title="View lof_customer_refund_order" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
